# Reporte de analisis V

 ## Tratamiento de datos faltantes

In [3]:
import pandas as pd

In [4]:
datos = pd.read_csv('alquiler_residencial.csv', sep = ';')

In [5]:
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [6]:
datos.isnull()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...
22840,False,False,False,False,False,False,False,False,False
22841,False,False,False,False,False,False,False,False,False
22842,False,False,False,False,False,False,False,False,False
22843,False,False,False,False,False,False,False,False,False
22844,False,False,False,False,False,False,False,False,True

In [7]:
datos.notnull()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,False,False
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,False
4,True,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...
22840,True,True,True,True,True,True,True,True,True
22841,True,True,True,True,True,True,True,True,True
22842,True,True,True,True,True,True,True,True,True
22843,True,True,True,True,True,True,True,True,True
22844,True,True,True,True,True,True,True,True,False

In [8]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22845 entries, 0 to 22844
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           22845 non-null  object
 1   Distrito       22845 non-null  object
 2   Cuartos        22845 non-null  int64
 3   Vacantes       22845 non-null  int64
 4   Suites         22845 non-null  int64
 5   Area           22845 non-null  int64
 6   Valor          22836 non-null  float64
 7   Mantenimiento  20796 non-null  float64
 8   Impuesto       15976 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [9]:
datos[datos['Valor'].isnull()]
# Mostrar los valores nulos de la columna Valor

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
58,Departamento,Ate,2,1,1,70,NaN,970.0,68.0
1515,Departamento,San Bartolo,2,0,0,75,NaN,878.0,NaN
1708,Casa,Lince,3,4,3,363,NaN,NaN,NaN
2039,Departamento,Chorrillos,2,0,0,95,NaN,1010.0,170.0
2061,Departamento,San Borja,2,0,0,72,NaN,850.0,NaN
4998,Casa,Lince,3,2,1,100,NaN,NaN,NaN
8674,Departamento,San Bartolo,2,0,1,75,NaN,878.0,NaN
9061,Departamento,La Punta,3,0,1,135,NaN,910.0,228.0
9264,Departamento,La Perla,3,1,1,105,NaN,880.0,221.0

In [10]:
A = datos.shape[0]
datos.dropna(subset = ['Valor'], inplace = True)
B = datos.shape[0]
A - B
# A = Antes de eliminar
# B = Despues de eliminar

9

In [11]:
datos[datos['Valor'].isnull()]
# Ya no muestra los valores nulos de la columna Valor

Empty DataFrame
Columns: [Tipo, Distrito, Cuartos, Vacantes, Suites, Area, Valor, Mantenimiento, Impuesto]
Index: []

## Tratamiento de datos faltantes(continuacion)

In [12]:
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN

In [13]:
datos[datos['Mantenimiento'].isnull()].shape[0]

2047

In [14]:
seleccion = (datos['Mantenimiento'].isnull()) & (datos['Tipo'] == 'Departamento')
# Criterio de seleccion asignado a una variable

In [15]:
A = datos.shape[0]
datos = datos[~seleccion]
B = datos.shape[0]
A - B
# Valores que se eliminaron de la seleccion

745

In [16]:
datos[datos['Mantenimiento'].isnull()].shape[0]
# Cantidad de nulos en Mantenimiento

1302

In [17]:
datos = datos.fillna({'Mantenimiento':0, 'Impuesto':0})
# Nuevo dataframe rellenando mantenimiento e impuesto

In [18]:
datos[datos['Mantenimiento'].isnull()].shape[0]

0

In [19]:
datos[datos['Impuesto'].isnull()].shape[0]

0

In [20]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22091 entries, 0 to 22844
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           22091 non-null  object
 1   Distrito       22091 non-null  object
 2   Cuartos        22091 non-null  int64
 3   Vacantes       22091 non-null  int64
 4   Suites         22091 non-null  int64
 5   Area           22091 non-null  int64
 6   Valor          22091 non-null  float64
 7   Mantenimiento  22091 non-null  float64
 8   Impuesto       22091 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [21]:
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,0.0,0.0
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,0.0
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
...,...,...,...,...,...,...,...,...,...
22840,Departamento,Santa Anita,2,0,0,70,900.0,490.0,48.0
22841,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
22842,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
22843,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
22844,Departamento,Rímac,2,0,0,70,3000.0,760.0,0.0

In [22]:
datos.to_csv('alquiler_residencial.csv', sep = ';', index = False)

# Ejercicio

In [23]:
inmuebles= pd.DataFrame([['Departamento', None, 970, 68], 
                        ['Departamento', 2000, 878, 112], 
                        ['Casa', 5000, None, 500], 
                        ['Departamento', None, 1010, 170], 
                        ['Departamento', 1500, 850, None], 
                        ['Casa', None, None, None], 
                        ['Departamento', 2000, 878, None], 
                        ['Departamento', 1550, None, 228], 
                        ['Departamento', 2500, 880, 195]], 
                        columns = ['Tipo', 'Valor', 'Mantenimiento', 'Impuesto'])
inmuebles

           Tipo   Valor  Mantenimiento  Impuesto
0  Departamento     NaN          970.0      68.0
1  Departamento  2000.0          878.0     112.0
2          Casa  5000.0            NaN     500.0
3  Departamento     NaN         1010.0     170.0
4  Departamento  1500.0          850.0       NaN
5          Casa     NaN            NaN       NaN
6  Departamento  2000.0          878.0       NaN
7  Departamento  1550.0            NaN     228.0
8  Departamento  2500.0          880.0     195.0

In [24]:
# Elimina los registros que tengan la columna Valor nula

In [25]:
inmuebles.dropna(subset = ['Valor'], inplace = True)
inmuebles

           Tipo   Valor  Mantenimiento  Impuesto
1  Departamento  2000.0          878.0     112.0
2          Casa  5000.0            NaN     500.0
4  Departamento  1500.0          850.0       NaN
6  Departamento  2000.0          878.0       NaN
7  Departamento  1550.0            NaN     228.0
8  Departamento  2500.0          880.0     195.0

In [26]:
#  Elimina los inmuebles de tipo Departamento que tengan la columna Mantenimiento nula

In [27]:
seleccion = ((inmuebles['Mantenimiento'].isnull()) & inmuebles['Tipo'] == 'Departamento')
inmuebles= inmuebles[~seleccion]
inmuebles

           Tipo   Valor  Mantenimiento  Impuesto
1  Departamento  2000.0          878.0     112.0
2          Casa  5000.0            NaN     500.0
4  Departamento  1500.0          850.0       NaN
6  Departamento  2000.0          878.0       NaN
7  Departamento  1550.0            NaN     228.0
8  Departamento  2500.0          880.0     195.0

In [28]:
# Reemplaza los valores nulos que quedan en las variables Mantenimiento y Impuesto por cero

In [29]:
inmuebles = inmuebles.fillna({'Mantenimiento': 0, 'Impuesto': 0})
inmuebles

           Tipo   Valor  Mantenimiento  Impuesto
1  Departamento  2000.0          878.0     112.0
2          Casa  5000.0            0.0     500.0
4  Departamento  1500.0          850.0       0.0
6  Departamento  2000.0          878.0       0.0
7  Departamento  1550.0            0.0     228.0
8  Departamento  2500.0          880.0     195.0

In [30]:
# Reconstruir el indice del DataFrame resultante

In [31]:
inmuebles.index = range(inmuebles.shape[0])
inmuebles

           Tipo   Valor  Mantenimiento  Impuesto
0  Departamento  2000.0          878.0     112.0
1          Casa  5000.0            0.0     500.0
2  Departamento  1500.0          850.0       0.0
3  Departamento  2000.0          878.0       0.0
4  Departamento  1550.0            0.0     228.0
5  Departamento  2500.0          880.0     195.0